@import url('https://fonts.googleapis.com/css?family=Raleway|Rouge+Script&display=swap');
*{
 margin:0; 
 padding:0; 
 box-sizing: border-box;
font-family: 'Raleway',sans-serif ;
}

 a{
    text-decoration: none;

}
.orange{
    color: rgba(221,112,23,.7);
}
.home{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:rgba(221,112,23,.5);
    position: absolute;
    z-index: 100;
    right: 40px;
    top: 10px;
}
.home svg{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home:hover{
    transform: scale(1.05);
box-sizing: border-box; 
}
.redball{
    position: absolute;
    top: 40px;
    left: 40px;
}
.yellowball{
    position: absolute;
    top: 190px;
    left: 40px;
    
}
.greenball{
    position: absolute;
    top: 5px;
    left: 10px;
    
}

.bgimg{
    /* border: solid black 4px; */
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/candy.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    /* filter: opacity(.3); */
    
}
input{
      width: 250px;
    height: 50px;
    border-radius: 5px;
    margin: 25px 0;
    padding: 15px;
    border: solid 1px #DD7017;
    font-family: "Raleway",sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    position: absolute;
    /* border: solid 1px #DD7017; */
    top: 25%;
    left: 25%;
}
button{
      width: 250px;
    height: 50px;
    border-radius: 50px;
    margin: 25px 0 0 0;
    /* padding: 5px 15px; */
    border: solid 1px #DD7017;
    background-color:#EFB319 ;
    font-family: "Raleway",sans-serif;
    font-size: 1.5em;
    display: inline-block;
    transition: 0.4s ease-in;

}
button:hover{
     transform: scale(1.05);
}

@media only screen and (max-width:1120px){
    form{
        left: 20%;
    }
}

@media only screen and (max-width:950px){
    form{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);


    }
    .bgimg{
        background-position: center;
        filter: blur(5px)
    }
}