@import url('https://fonts.googleapis.com/css?family=Raleway|Rouge+Script&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
    /* font-family: 'Raleway',sans-serif ; */
 scroll-behavior: smooth;
}
a{
    text-decoration: none;

}
.hide{
    display: none;
}
.unhide{
    display: inline;
}
.blur{
    filter: blur(3px);
}
.ham{
position: absolute;
right: 30px;
top: 10px;
display: none;

}
.ham__items{
    display: none;
    
}
.ham:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.ham__unhide{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid;
    z-index: 1000000;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: cornsilk;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    
     background-image: linear-gradient(125deg,rgba(252, 147, 9, 1),#EFB319);
    
    padding: 8px;

}
.ham__items #close{
    position: absolute;
    right: 10px;
    top: 13px;
    fill: white;
   filter: brightness(2);
}
.ham__items #close:hover{
    cursor: pointer;
    transition: ease-in .2s;
    transform: scale(1.2);
}
.ham__items__btn{
    /* border: solid; */
    display: flex;
    position: absolute;
    top: 30%;
    left: 30%;
    height: 100px;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Raleway",sans-serif;
    font-size: .8em;
}
.ham__unhide .rest__auth p{
    font-size: 22px;
    /* border: solid; */

}
.ham__unhide .rest__auth p:hover{
    cursor: pointer;
}
.ham__items a{
    color: cornsilk;
    font-size: 1.6em;

}
.ham__items .ham__search:hover{
 transform: scale(1.05);   
}
.head{
    height: 90vh;
    /* border: solid 1px red; */
    display: flex;
    

}

.balls{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(237, 143, 32, 0.33);

}
.ball--1{
    height: 200px;
    width: 200px;
    position: absolute;
    left: -7%;
    top: 30%;
}
.ball--2{
    height: 100px;
    width: 100px;
    top: -5%;
    left: 45%;
    z-index: -100;
    position: absolute;
}
.ball--3{
    height: 20px;
    width: 20px;
    top: 50%;
    left: 45%;
    z-index: -100;
    position: absolute;

    
}
.hide{
    display: none;
}
.head__left{
    width: 50%;
    /* border: solid 1px red; */

}
.head__left nav{
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    align-items: center;
    width: 80%;
}
.head__left nav span .rest__auth{
    z-index: 10000000;
}
.head__left nav span .nav__items{
    color: black;
    font-family: 'Raleway',sans-serif ;
    position: relative;
    padding: 4%;

}
.head__left nav span p{
    text-decoration: none;
    border: none;
      color: black;
    font-family: 'Raleway',sans-serif ;
    position: relative;
    padding: 4%;

}
.head__left nav span p{
    border-bottom:solid 3px #D3C5C5 ;
    position: relative;
}
.head__left nav span p:hover{
    cursor: pointer;
}

.head__left nav span .nav__dropdown a{
    color: #12151A;
}
#brand__icon{
    display: inline;
    position: absolute;
}
.nav__dropdown__unhide{
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
color: #12151A;
font-family: "Raleway",sans-serif;
width: 200px;
height: 110px;
padding: 15px 0;

/* border: solid; */
background-color: orange;
position: absolute;
transition: all 0.3s ease;
}
.head__left nav span a:after,.head__left nav span .nav__items:before{
     content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: -10%;
      width: 120%;
      height: 2px;
      background-color:#D3C5C5;
      transition: all 0.3s ease;
      transform: scale(1);
}

.head__left nav span .nav__items:hover:before{
    top: 0;
    
      transform: scale(1);
}
.head__left nav span .nav__items:hover:after{
    transform: scale(1);
}

.head__left .head__left__content{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rouge Script',sans-serif ;
    font-size: 3.5em;
}

.head__left   .head__left__cta{
 position: absolute;
    top: 60%;
    left: 19%;
    transform: translate(-50%,-50%);
  padding: 1em 1.5em;
  border: none;
  background-color: #ED8F20;
  cursor: pointer;
  outline: none;
  font-size: 22px;
  margin: 1em 0.8em;
  width: 200px;
  height: 50px;
  border-radius: 78px;
  font-family: 'Raleway',sans-serif ;
  color: #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.head__left   .head__left__cta:hover{
    /* transform: scale(1.1); */
    background-color: #fff;
    color:#ED8F20;
    border:solid #ED8F20 2px;
    transition: .7s;
    

}
.head__right{
    width: 50%;
    right: 0;
    /* border:solid #ED8F20 2px; */
    background-image: url("../images/pizza.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.head__right img{
    /* height: 60%; */
    height: 90vh;
    right: 0;
    /* border:solid #ED8F20 2px; */
    
    position: absolute;

    

}

.main__body{
    /* border: solid  black 2px; */
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20% 0;

}
.main__body p{
    font-size: 3em;
    font-family: 'Raleway', sans-serif;

}
.orange{
    color: rgba(221,112,23,.7);
}
.main__body #main__body--family{
color: rgba(221,112,23,.7);
font-family: 'Rouge Script', sans-serif;
font-size: 1.5em;

}



.main__body__1{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    /* border: solid black 2px; */
}

.main__body__1__row{
    display: flex;
    
}
.main__body__1__row img{
    width: 50%;
    padding: 1%;
}
.main__body__1__row img:hover{
    transform: scale(1.1);
    transition: 0.9s;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.main__body__2{
    display: flex;
    width: 80%;
    margin: 10% auto;
    /* flex-direction: column; */
    
    
    
}
.main__body__2__right{
display: flex;
flex-direction: column;
color: #fff;
font-family: "Raleway",sans-serif;
justify-content: center;
/* align-items: center; */
width: 50%;
font-size: 2.5em;

background-color:#12151A ;


}

.main__body__3{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto;
    /* border: solid black 2px; */

}
.main__body__3__row img{
    width: 350px;
    /* border: solid black 2px; */
}
.main__body__3__row p{
    font-family: 'Raleway' , sans-serif;
    font-size: 1.5em;
    width: 400px;
     /* border: solid black 2px; */
     
}
.main__body__3__row .main__body__3__left{
    width: 50%;
    /* border: solid black 2px; */

}
.main__body__3__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid black 2px; */
    margin: 10px 0;

}
/* .main__body__3__row:hover{       /* to add hover on about
    transition: 0.6s ease-in;
    transform: scale(1.05);
} */

.main__body__4{
    /* border: solid black 4px; */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main__body__4 .cta{
    font-family: 'Raleway' , sans-serif;
    font-size: 1.8em;
     background-color: #ED8F20;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-align: center;
  margin: 1em 0.8em;
  width: 220px;
  height: 60px;
  border-radius: 78px;
  font-family: 'Raleway',sans-serif ;
  color: #fff;
}

.main__body__4 .cta:hover{
    transition: 0.6s;
    transform: scale(1.1);
}

footer{
    background-color: black;
    color: #fff;
    font-family: "Raleway",sans-serif;
    padding: 8px 16px;
}

@media (max-width:1210px){
    .main__body__2{
        flex-direction: column;
        /* border: solid; */
    }
    .main__body__2__right{
        width: 640px;
        margin: 0 auto;
        align-items: center;
    }
    .main__body__2__left{
        width: 100%;
        /* border: solid; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    
}
@media (max-width:890px){
    .main__body__3{
        width: 100vw;
    }
.main__body__3__row{
    flex-direction: column;
    /* border: solid; */
    width: 400px;
    /* height: 400px; */
    margin: 0 auto;
    position: relative;
}
.main__body__3__left{
    /* border: solid; */
    width: 400px;
    
    position: relative;
    
}
.main__body__3__left img{
    /* width: 100%; */
    position: relative;
    transform: translateX(-25%);

     top: 0;
    left: 0;
    margin: 0 auto;
}
.main__body__3__right{
    /* border: solid; */
    padding: 8px 8px 8px 40px;
}

}
@media (max-width:840px){
    .head__right{
        width: 100%;
        position: absolute;
    }
    .head__left .head__left__content{
       
        position: absolute;
        left: 50%;
        font-family: 'Rouge Script',sans-serif ;
    font-size: 3.5em;
    }
    .head__left{
        width: 100%;
        background: transparent;
        z-index: 100;
        /* border: solid; */
    }
    .head__left   .head__left__cta{
        position: absolute;
        left: 48%;
    }
    .main__body__2{
        position: relative;
        font-size: .7em;
    }
    .main__body__2__right{
        width: 100%;
    }
    
}
@media (max-width:620px){
    .ham{
        display: inline;
    }
    .head__left nav{
        display: none;
    }
    .main__body{
        font-size: .7em;
    }
    .main__body__1__row{
        flex-direction: column;
        /* border: solid; */
    }
    .main__body__1__row img{
        width: 100%;
        margin: 10px 0;
    }
    
    
}
@media (max-width:420px){
    .main__body__2__right{
        font-size: 2em;
    }
}