@import url('https://fonts.googleapis.com/css?family=Raleway|Rouge+Script&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
    /* font-family: 'Raleway',sans-serif ; */
 scroll-behavior: smooth;
}
a{
    text-decoration: none;

}
.head{
    height: 90vh;
    /* border: solid 1px red; */
    display: flex;
    

}
.balls{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(237, 143, 32, 0.33);

}
.ball--1{
    height: 200px;
    width: 200px;
    position: absolute;
    left: -7%;
    top: 30%;
}
.ball--2{
    height: 100px;
    width: 100px;
    top: -5%;
    left: 45%;
    z-index: -100;
    position: absolute;
}
.ball--3{
    height: 20px;
    width: 20px;
    top: 50%;
    left: 45%;
    z-index: -100;
    position: absolute;

    
}
.hide{
    display: none;
}
.head__left{
    width: 50%;
    /* border: solid 1px red; */

}
.head__left nav{
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: 80%;
}
.head__left nav span .rest__auth{
    z-index: 10000000;
}
.head__left nav span .nav__items{
    color: black;
    font-family: 'Raleway',sans-serif ;
    position: relative;
    padding: 4%;

}
.head__left nav span p{
    text-decoration: none;
    border: none;
      color: black;
    font-family: 'Raleway',sans-serif ;
    position: relative;
    padding: 4%;

}
.head__left nav span p{
    border-bottom:solid 3px #D3C5C5 ;
    position: relative;
}
.head__left nav span p:hover{
    cursor: pointer;
}

.head__left nav span .nav__dropdown a{
    color: #12151A;
}
.nav__dropdown__unhide{
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
color: #12151A;
font-family: "Raleway",sans-serif;
width: 100px;
height: 100px;
padding-top: 10px;
/* border: solid; */
position: absolute;
transition: all 0.3s ease;
}
.head__left nav span a:after,.head__left nav span .nav__items:before{
     content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: -10%;
      width: 120%;
      height: 2px;
      background-color:#D3C5C5;
      transition: all 0.3s ease;
      transform: scale(1);
}

.head__left nav span .nav__items:hover:before{
    top: 0;
    
      transform: scale(1);
}
.head__left nav span .nav__items:hover:after{
    transform: scale(1);
}

.head__left .head__left__content{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rouge Script',sans-serif ;
    font-size: 3.5em;
}

.head__left   .head__left__cta{
 position: absolute;
    top: 60%;
    left: 19%;
    transform: translate(-50%,-50%);
  padding: 1em 1.5em;
  border: none;
  background-color: #ED8F20;
  cursor: pointer;
  outline: none;
  font-size: 22px;
  margin: 1em 0.8em;
  width: 200px;
  height: 50px;
  border-radius: 78px;
  font-family: 'Raleway',sans-serif ;
  color: #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.head__left   .head__left__cta:hover{
    /* transform: scale(1.1); */
    background-color: #fff;
    color:#ED8F20;
    border:solid #ED8F20 2px;
    transition: .7s;
    

}
.head__right{
    width: 50%;
    right: 0;
    /* border:solid #ED8F20 2px; */
    background-image: url("../images/pizza.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.head__right img{
    /* height: 60%; */
    height: 90vh;
    right: 0;
    /* border:solid #ED8F20 2px; */
    
    position: absolute;

    

}

.main__body{
    /* border: solid  black 2px; */
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20% 0;

}
.main__body p{
    font-size: 3em;
    font-family: 'Raleway', sans-serif;

}
.orange{
    color: rgba(221,112,23,.7);
}
.main__body #main__body--family{
color: rgba(221,112,23,.7);
font-family: 'Rouge Script', sans-serif;
font-size: 1.5em;

}



.main__body__1{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    /* border: solid black 2px; */
}

.main__body__1__row{
    display: flex;
    
}
.main__body__1__row img{
    width: 50%;
    padding: 1%;
}
.main__body__1__row img:hover{
    transform: scale(1.1);
    transition: 0.9s;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.main__body__2{
    display: flex;
    width: 80%;
    margin: 10% auto;
    /* flex-direction: column; */
    
    
    
}
.main__body__2__right{
display: flex;
flex-direction: column;
color: #fff;
font-family: "Raleway",sans-serif;
justify-content: center;
align-items: center;
width: 50%;
font-size: 2.5em;

background-color:#12151A ;


}

.main__body__3{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto;
    /* border: solid black 2px; */

}
.main__body__3__row img{
    width: 350px;
    /* border: solid black 2px; */
}
.main__body__3__row p{
    font-family: 'Raleway' , sans-serif;
    font-size: 1.5em;
    width: 400px;
     /* border: solid black 2px; */
     
}
.main__body__3__row .main__body__3__left{
    width: 50%;
    /* border: solid black 2px; */

}
.main__body__3__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid black 2px; */
    margin: 10px 0;

}
/* .main__body__3__row:hover{       /* to add hover on about
    transition: 0.6s ease-in;
    transform: scale(1.05);
} */

.main__body__4{
    /* border: solid black 4px; */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main__body__4 .cta{
    font-family: 'Raleway' , sans-serif;
    font-size: 1.8em;
     background-color: #ED8F20;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-align: center;
  margin: 1em 0.8em;
  width: 220px;
  height: 60px;
  border-radius: 78px;
  font-family: 'Raleway',sans-serif ;
  color: #fff;
}

.main__body__4 .cta:hover{
    transition: 0.6s;
    transform: scale(1.1);
}

footer{
    background-color: black;
    color: #fff;
    font-family: "Raleway",sans-serif;
    padding: 8px 16px;
}