@import url('https://fonts.googleapis.com/css?family=Raleway|Rouge+Script&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
    font-family: 'Raleway',sans-serif ;

}
body{
    height: 100vh;
}
a{
    text-decoration: none;

}
.orange{
    color: rgba(221,112,23,.7);
}
.home{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:rgba(221,112,23,.5);
    position: absolute;
    z-index: 100;
    right: 40px;
    top: 10px;
}
.home svg{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home:hover{
    transform: scale(1.05);
}
.main__body{
    height: 100vh;
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-between;
    

}
.main__body__left{
    width: 50%;

}
.main__body__left img{
    /* height: 100%; */
    width: 500px;
    position: absolute;
}
.main__body__right{
    position: relative;
    /* border: solid black 2px; */
    width: 50%;
     

}
.main__body__right .heading{
    font-family: "Raleway",sans-serif;
    position: absolute;
    top: 12%;
    left: 16%;
    font-size: 2em;

}
.main__body__right .form{
    font-family: "Raleway",sans-serif;
    position: absolute;
    top: 15%;
    left: 16%;
    height: 400px;
    /* border: solid black 2px; */
    width: 50%;
    /* border: solid; */

}
.main__body__right form{
    display: flex;
    height: 470px;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    /* border: solid green 4px; */
}
.main__body__right form input{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px;
    border: solid 1px #DD7017;
    font-family: "Raleway",sans-serif;
}
.main__body__right form #rest_image{
 display: flex;
 align-items: center;
 padding-bottom: 24px;
 padding-top: 0;
 border: none;


}
.main__body__right form button{
    width: 250px;
    height: 30px;
    border-radius: 50px;
    margin: 0;
    /* padding: 5px 15px; */
    border: solid 1px #DD7017;
    background-color:#EFB319 ;
    font-family: "Raleway",sans-serif;
    font-size: 1.5em;
    display: inline-block;
    transition: 0.4s ease-in;
}
.main__body__right form button:hover{
    transform: scale(1.05);
}

.form__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: black 2px solid; */
    width: 250px;
    height: 80px;
    justify-content: space-between;
    padding: 19px;
}
.form__footer a{
    color: #DD7017;
}

@media only screen and (max-width:1000px){
  .main__body__right .heading{
      left: 23%;
  }
  .main__body__right .form{
      left: 23%;
  }
  .home{
      filter: brightness(1.5);
      right: 2%;
  }
}
@media only screen and (max-width:950px){
  .main__body__left{
      width: 500px;
  }
  .main__body__left img{
      width: 500px;
     
  }
}
@media only screen and (max-width:850px){
.main__body__left{
    width: 0;
    /* border: solid black 8px; */
}
  .main__body__left img{
      width: 100%;
      filter: blur(10px);
  }
  .heading{
      color: rgb(27, 27, 26);
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      transform: translateX(15%);
      filter: brightness(1.2);
      font-weight: 900;
       /* border: black solid 4px; */
  }
  .main__body .main__body__right{
      width: 100%;
      margin: 0;
      padding: 0;
      

      

       /* border: black solid 4px; */
  }
 .main__body .main__body__right .form{
    position: absolute; 
    /* border: red solid 4px; */
    width: 100%;
    left: 0;
       margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
 }
 .orange{
     /* font-weight: 900; */
     color: orange;

     
 }
 .form__footer a{
     color: black;
     filter: brightness(1.5);
 }
 

}

@media(max-width: 700px){
    .heading{
        transform: translateX(5%);
    }

}
@media(max-width: 500px){
    .heading{
        transform: translateX(-10px);
        font-size: .5em;
    }
    .heading p{
        font-size: 0.8em;
    }

}