<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ordering App</title>

    <link rel="stylesheet" href="../frontend/css/landing.css">

    <link href="https://fonts.googleapis.com/css?family=Rouge+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        if ('<%= alert %>' == 'true') {
            swal('<%= msg %>');
        }
    </script>
</head>

<body>
    <div class="ham__items ">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg id="close" version="1.1" width="18px" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
            style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
            <g>
                <g>
                    <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
        			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
        			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
        			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
        			L284.286,256.002z" />
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
        </svg>
        <% if(!user) { %>
        <span><a class="nav__items" href="/users/login">Login</a></span>
        <span><a class="nav__items" href="/users/signup">Register</a></span>
        <span><a class="nav__items" href="#about">About</a></span>
        <span id="rest__auth">
            <p>Restaurants</p>
            <div class="nav__dropdown hide">
                <a href="/restaurants/login">Login</a>
                <a href="/restaurants/signup">Register</a>
            </div>
        </span>
        <% } %>
        
        <% if (user){ %>
        <span><a class="nav__items" href="/users/logout">Logout</a></span>
        <span><a class="nav__items" href="/feedback">Orders</a></span>
        <span><a class="nav__items" href="#about">About</a></span>=
        <% } %>
        
    
    </div>
    <div class="container">
    <div class="head">
        <div class="balls ball--1">

        </div>
        <div class="balls ball--2">

        </div>

        <div class="head__left">
            <a id="brand__icon" href="../">
                <img class="brand_icon"  height="40px" src="../frontend/images/brand-icon.png" alt="" srcset="">
            </a>
            <nav>
                
                <% if(!user) { %>
                <span><a class="nav__items" href="/users/login">Login</a></span>
                <span><a class="nav__items" href="/users/signup">Register</a></span>
                <span id="rest__auth">
                    <p>Restaurants</p>
                    <div class="nav__dropdown hide">
                        <a href="/restaurants/login">Login</a>
                        <a href="/restaurants/signup">Register</a>
                    </div>
                </span>
                <% } %>

                <% if (user){ %>
                    <span><a class="nav__items" href="/users/logout">Logout</a></span>
                    <span><a class="nav__items" href="/feedback">Orders</a></span>
                <% } %>
                <span><a class="nav__items" href="#about">About</a></span>
                
            </nav>
            <div class="ham">
                <svg width="52" height="29" viewBox="0 0 82 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="2" x2="82" y2="2" stroke="black" stroke-width="4" />
                    <line y1="13.3333" x2="82" y2="13.3333" stroke="black" stroke-width="4" />
                    <path d="M0 26.5H82" stroke="black" stroke-width="4" />
                </svg>
            
            </div>
            <div class="head__left__content">
                <strong>
                    <p id="head__left__content--1">Tasty</p>
                </strong>
                <p id="head__left__content--2">Can be</p>
                <strong>
                    <p id="head__left__content--3">Healthy</p>
                </strong>
            </div>

            <% if(user) { %>
            <% if(user.uid) { %>
            <a href="/browse">
                <div class="head__left__cta">
                    <p>Order now</p>
                </div>
            </a>
            <% } %>
            <% if(user.rid) { %>
            <a href="/rdashboard">
                <div class="head__left__cta">
                    <p>Dashboard</p>
                </div>
            </a>
            <% } %>
            <% } %>
            <% if(!user) { %>
            <a href="/browse">
                <div class="head__left__cta">
                    <p>Order now</p>
                </div>
            </a>
            <% } %>
        </div>
        <!--head_left ends-->
        <div class="head__right">
            <!-- <img src="images/pizza.jpg" alt="" srcset=""> -->
        </div>
    </div>
    <div data-aos="zoom-in-up" class="main__body">
        <p>It’s not about <span class="orange">presents</span>,</p>
        <p>It’s not about <span class="orange">food</span>,</p>
        <p>It's about <span id="main__body--family"> family</span> time</p>
    </div>
    <div class="main__body__1">
        <div class="main__body__1__row">
            <img data-aos="zoom-out-up" src="../frontend/images/fish.jpg" alt="" srcset="">
            <img data-aos="zoom-out-up" src="../frontend/images/burger.jpg" alt="" srcset="">

        </div>
        <div class="main__body__1__row">
            <img data-aos="zoom-out-up" src="../frontend/images/pastry.jpg" alt="" srcset="">
            <img data-aos="zoom-out-up" src="../frontend/images/roles.jpg" alt="" srcset="">
        </div>
    </div>
    <div class="main__body__2">
        <div class="main__body__2__left">
            <img src="../frontend/images/cheese-pizza.jpg" alt="" srcset="">
        </div>
        <div class="main__body__2__right">
            <p>Ordering is a <span class="orange">breeze</span>,</p>
            <p>so you can be at <span class="orange"> ease</span></p>
            <p>and enjoy your pizza with
            <div class="orange">extra cheese</div></p>
        </div>
    </div>

    <div id="about" class="main__body__3">
        <div class="main__body__3__row">
            <div class="main__body__3__left">
                <img src="../frontend/images/desc-explore.jpg" alt="">
            </div>
            <div data-aos="fade-up" class="main__body__3__right">
                <p>Explore <span class="orange">restaurants</span></p>
                <p>that deliver to your doorstep</p>
            </div>
        </div>
        <div class="main__body__3__row">
            <div class="main__body__3__left">
                <img src="../frontend/images/desc-menu.jpg" alt="">
            </div>
            <div data-aos="fade-up" class="main__body__3__right">
                <p>Browse <span class="orange">menus </span></p>
                <p>and build your order in seconds</p>
            </div>
        </div>
        <div class="main__body__3__row">
            <div class="main__body__3__left">
                <img src="../frontend/images/desc-delivery.jpg" alt="">
            </div>
            <div data-aos="fade-up" class="main__body__3__right">
                <p>Get the food at your</p>
                <p> <span class="orange"> doorstep</span></p>
            </div>
        </div>

    </div>

    <% if(user){ %>
    <% if(user.uid) { %>
    <a href="/browse">
        <div class="main__body__4">
            <div data-aos="fade-up" class="cta">
                <p>Order Now</p>
            </div>
        </div>
    </a>
    <% } %>

    <% if (user.rid) { %>
    <a href="/rdashboard">
        <div class="main__body__4">
            <div data-aos="fade-up" class="cta">
                <p>Dashboard</p>
            </div>
        </div>
    </a>
    <% } %>
    <% } %>
    <% if(!user){ %>
    <a href="/browse">
        <div class="main__body__4">
            <div data-aos="fade-up" class="cta">
                <p>Order Now</p>
            </div>
        </div>
    </a>
    <% } %>

    <footer>
        <p>© 2020-2020 - Food Captain Pvt Ltd. All rights reserved.</p>
    </footer>
</div>
    <script src="../frontend/js/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

        $('#rest__auth').hover(

            function () {


                $('.nav__dropdown').addClass('nav__dropdown__unhide');

            },
            function () {
                console.log("out");



                $('.nav__dropdown').removeClass('nav__dropdown__unhide');
            }
        )

         function hamburg() {
                $('.container').toggleClass('blur');
                $('.ham__items').toggleClass('ham__unhide');
                // $('.ham__items').toggleClass('.ham__items');

            };
             $('.ham').click(hamburg);
            $('#close').click(hamburg);





    </script>
</body>

</html>